*{ box-sizing: border-box; }

p{ 
    margin: 0;
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
}

body{ background-color: #e0e7f7bb; }

header{
    border-bottom: thick double #32a1ce;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: rgb(64, 214, 251);
}

.card-title{ color: #000; }

.card-text{ font-size: 1rem; }

.searchbar{ 
    background-color: #8b9bbe6b;
    border-radius: 30px;
    padding: 10px;
}

/* border de caja de input, outline caja cuando hacemos click */
.search_input{
    color: rgb(34, 108, 193);
    border: 0;
    outline: 0;
    background: none;  
    line-height: 40px;
}

.grados{ font-size: 5rem; }

.info-clima{
    background-color: #35a2bd79;
    border-radius: 50px;
}

.card-text{
    color: #000;
}