*{ box-sizing: border-box; }

p{ 
    margin: 0;
    color:rgb(255, 255, 255);
}

body{
    background-color: #e0e7f7bb;
}

header{
    border-bottom: thick double #32a1ce;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    /* background-color: rgb(21, 200, 245); */
    background-color: rgb(64, 214, 251);
}

.home{
    height: 100vh;
}

.searchbar{ 
    background-color: #8b9bbe6b;
    border-radius: 30px;
    padding: 10px;
}

/* border de caja de input, outline caja cuando hacemos click */
.search_input{
    color: rgb(34, 108, 193);
    border: 0;
    outline: 0;
    background: none;
    
    line-height: 40px;
}

.search_icon:hover{
    background: rgba(122, 132, 237, 0.631);
    color: #020203;
}
    
.search_icon{
    height: 40px;
    width: 40px;
    border-radius: 30%;
    background: rgba(59, 75, 255, 0.631);
    color: #120a3d;
}

.grados{ font-size: 120px; }

.info-clima{
    background-color: #35a2bd79;
    border-radius: 50px;
}

.chart-container {
    margin: auto;
    height: 300px;
}

.card-text{
    color: #000;
}

@media only screen and (max-width: 1200px){
    .chart-container {
        display: none;
    }
} 